@import url("https://fonts.googleapis.com/css?family=Chakra+Petch&display=swap");

$themes: (
  // Sailor Day
  day: (
    backgroundColor: #FFF4FD,
    topbar-background-1: #F7C9F3,
    topbar-background-2: #4180F6,
  ),
  // Sailor Night
  night: (
    backgroundColor: #110038,
    topbar-background-1: #EE3EFE,
    topbar-background-2: #2E32FB,
  ),
);


// Implementation of themes

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

.theme_changer {
  @include themify($themes) {
    background-color: themed('backgroundColor');
  }
}

// .topTitle {
//   @include themify($themes) {
//     background-image: linear-gradient(270deg, themed('topbar-background-1') 0%, themed('topbar-background-1') 100%);
//   }
// }
