@import url("https://fonts.googleapis.com/css?family=Chakra+Petch&display=swap");

$themes: (
  // Sailor Day
  day: (
    backgroundColor: #FFF4FD,
    topbar-background-1: #F7C9F3,
    topbar-background-2: #4180F6,
    logo: url('../../assets/gifOF_logo.png'),
    shadow: #997d97,
    backgroung-window: #E6E6E6,
    backgroung-window-shadow: #b4b4b4,
    night-button: #F0F0F0,
    day-button: #FFF4FD,
    night-button-text: #110038,
    day-focus: underline,
    night-focus: none,
  ),
  // Sailor Night
  night: (
    backgroundColor: #110038,
    topbar-background-1: #EE3EFE,
    topbar-background-2: #2E32FB,
    logo: url('../../assets/gifOF_logo_dark.png'),
    shadow: #A72CB3,
    backgroung-window: #B4B4B4,
    backgroung-window-shadow: #8F8F8F,
    night-button: #2E32FB,
    day-button: #CCCCCC,
    night-button-text: #FFFFFF,
    day-focus: none,
    night-focus: underline,
  ),
);

// Auxiliary colors

$white: #FFFFFF;
$border-black: #110038;
$button-border: #808080;
$button-inner-shadow: #B4B4B4;
$input-border: #979797;
$input-black: #000000;

// Implementation of themes

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

.theme_changer {
  @include themify($themes) {
    background-color: themed('backgroundColor');
  }
}